# Default Code Ownership
*                    @chiukapoor

# Code Ownership for merging renovate PRs
/go.mod              @mitulshah-suse @chiukapoor
/go.sum              @mitulshah-suse @chiukapoor
/hack/               @mitulshah-suse @chiukapoor
/package/Dockerfile  @mitulshah-suse @chiukapoor
/tests/              @mitulshah-suse @chiukapoor

# rancher-cis-benchmark chart Ownership
/chart/              @mitulshah-suse @chiukapoor
/crds/               @mitulshah-suse @chiukapoor
